.shuffle-text {
  min-height: 1em;
  display: inline-block;
}

.shuffle-text-char {
  display: inline-block;
  animation: 0.5s ease-in-out both rstCharAni;
}
@keyframes rstCharAni {
  0% {
    opacity: 0;
    transform: translate(100%, 0) scale(3);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
