.shuffle-text-char {
  display: inline-block;
  animation: 0.3s ease-in-out both wordEnter;
}
@keyframes wordEnter {
  0% {
    opacity: 0;
    transform: translate(-50%, 0) scale(3);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
